<%- model_class = Order -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>
<div>
	<% if flash[:notice] %>
		<p class="notice"><%= flash[:notice] %></p>
	<% end %>
</div>
<div>
	<%= link_to "Upload Order",
            orders_upload_path,
            :class => 'btn btn-primary' %>
</div>
<% @companies.each do |company| %>
	<h3>
		Orders for Company <%= company.name %>
	</h3>
	<div>
		<% if company.orders.blank? %>
			No orders found.
		<% end %>
	</div>
	<% company.orders.each do |order| %>
		<div class="upload_time">
			Order uploaded at <%= order.created_at.to_formatted_s(:rfc822)  %> UTC
		</div>
		<div class="gross_revenue">
			Gross Revenue: <span class="revenue_amount"><%= number_to_currency(order.gross_revenue) %></span>
		</div>
		<table class="table table-striped">
		  <thead>
		    <tr>
		      <th><%= model_class.human_attribute_name(:purchaser_name) %></th>
		      <th><%= model_class.human_attribute_name(:item_description) %></th>
		      <th><%= model_class.human_attribute_name(:item_price) %></th>
		      <th><%= model_class.human_attribute_name(:purchase_count) %></th>
		    </tr>
		  </thead>
		  <tbody>
		    <% order.line_items.each do |li| %>
		      <tr>
		        <td><%= li.purchaser_name %></td>
		        <td><%= li.item_description %></td>
		        <td><%= number_to_currency(li.item_price) %></td>
		        <td><%= li.purchase_count %></td>
		      </tr>
		    <% end %>
		  </tbody>
		</table>
	<% end %>
<% end %>
<%= link_to "Upload Order",
            orders_upload_path,
            :class => 'btn btn-primary' %>
