<div>
	<legend>
		Upload Order data file for a Company
	</legend>
	<div>
		<% @company.errors.full_messages.each do |msg| %>
      <p class="text-error"><%= msg %></p>
    <% end %>
	</div>
	<div>
		<% if flash[:error] %>
			<p class="text-error"><%= flash[:error] %></p>
		<% end %>
	</div>
	<div>
		<%= form_for(@company, url: orders_create_path, multipart: true, :html => { :class => 'form-horizontal' }) do |f| %>
		  
		  <div class="control-group">
		  	<%= f.label :name, "Company Name" %>
  			<%= f.text_field :name, placeholder: "Type the Name of Company", size: 50 %>
		  </div>
		  <div>
		  	<%= f.file_field 'orders', :class => 'btn'  %>
		  </div>
		  <div class="form-actions">
		  	<%= submit_tag "Upload File", :class => 'btn btn-primary'  %>
		  </div>
		<% end %>
	</div>
</div>
